<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Simple Login Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>

body {
    background-image: url("https://cdn.wallpapersafari.com/24/69/qrgVOf.jpg");
}

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form > div {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
</style>
</head>
<body>
<div class="login-form">
    <div>
        <h2 class="text-center">Booking Online Pasien</h2>       
        <div class="form-group">
            <label for="tanggal">Tanggal Kunjungan:</label>
            <input type="date" class="form-control" id="tanggal" placeholder="date" required="required">
        </div>
        <div class="form-group">
            <label for="dokter">Dokter:</label>
            <select class="form-control" id="dokter" required>
                <option value="" selected hidden>Pilih dokter</option>
                {% for dokter in data_dokter %}
                <option value="{{ dokter['_id'] }}">{{ dokter['nama'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" onclick="book()">Sumbit</button>
        </div>
        <div class="clearfix">
            
        </div>        
    </div>
</div>
<div class="d-flex justify-content-center bg-light">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Spesialis</th>
                <th scope="col">Jadwal</th>
            </tr>
        </thead>
        <tbody>
            {% for dokter in data_dokter %}
            <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ dokter['nama'] }}</td>
                    <td>{{ dokter['spesialis'] }}</td>
                    <td>{{ dokter['jadwal'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

<script>
    function book(){
        if($('#tanggal').val() == ''){
            return alert('Pilih tanggal')
        }

        // if($('#keluhan').val() == ''){
        //     return alert('Silahkan berkeluh kesah')
        // }

        if($('#dokter').val() == ''){
            return alert('Pilih dokter')
        }

        $.ajax({
            method: "POST",
            url: '/book',
            data:{
                tanggal: $('#tanggal').val(),
                id_dokter: $('#dokter').val(),
                keluhan: ""
            },
            success: function(data){
                if(data.result == 'success'){
                    alert('Data booking berhasil dikirim, silahkan tunggu konfirmasi!')
                    window.location.href = '/pasien/dashboard'
                }
            }
        })
    }
</script>

</body>
</html>