<!DOCTYPE html>
<html>
<head>
  <title>Three Columns</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .col {
      background-color: b;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .col:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
  </div>
  
  <div class="grid text-center" style="--bs-columns: 4; --bs-gap: 5rem;">
    <div class="g-col-2">.g-col-2</div>
    <div class="g-col-2">.g-col-2</div>
  </div>
  

</body>
</html>
