<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- bootrap css -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/style.css">
	<title>AdminSite</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> Klinik jaya</a>
		<ul class="side-menu">
			<li><a href="/dashboard" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li>
				<a href="#"><i class='bx bxs-user icon' ></i> Pasien <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/dashboard/data_antrian" class="active">Antrian</a></li>
					<li><a href="#">Data Pasien</a></li>
					<li><a href="#">Riwayat Pasien</a></li>
				</ul>
			</li>
			<li><a href="/dashboard/data_dokter"><i class='bx bxs-user icon' ></i> Dokter</a></li>
			<li><a href="#"><i class='bx bxs-video icon' ></i> Rekam Medis</a></li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<h3> Hello Admin</h3>
				</div>
			</form>
			
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='bx bxs-user-circle icon' ></i>Edit Profile</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul>
			
			</div>
			<div class="data">
				<div class="content-data">
					<div class="head">
						
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">No. Antrian</th>
                  <th scope="col">Nama Pasien</th>
                  <th scope="col">Usia</th>
                  <th scope="col">Jenis Kelamin</th>
                  <th scope="col">Dokter</th>
                  <th scope="col">Tanggal Kunjungan</th>
                  <th scope="col">Jadwal Dokter</th>
				  <th scope="col">Keluhan</th>
                  <th scope="col">Status</th>
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
				{% for data in data_antrian %}
                <tr>
					<th scope="row">{{ data['nomor_antrian'] }}</th>
					<td>{{ data['pasien']['name'] }}</td>
					<td>{{ data['pasien']['usia'] }}</td>
					<td>{{ data['pasien']['jenis_kelamin'] }}</td>
					<td>{{ data['dokter']['nama'] }}</td>
					<td>{{ data['tanggal'] }}</td>
					<td>{{ data['dokter']['jadwal'] }}</td>
					<td>{{ data['keluhan'] }}</td>
					<td>{{ data['status'] }}</td>
					{% if data['status'] == 'pending' %}
					
					<td class="actions">
						<button class="btn btn-success btn-approve"onclick="Approve()">Approve</button>
						<button class="btn btn-danger btn-reject">Reject</button>
					</td>
					{% elif data['status'] == 'approved' %}
					{% if data['status_rekam_medis'] == false %}
					<td class="actions">
						<button class="btn btn-success btn-approve">Rekam Medis</button>
					</td>
					{% else %}
					<td class="actions">
						<button class="btn btn-success btn-approve" disabled>Sudah Rekam Medis</button>
					</td>
					{% endif %}
					{% else %}
					<td></td>
					{% endif %}
                </tr>
				{% endfor %}
              </tbody>
            </table>

				</div>
			</div>
			<!-- class modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
				  <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Profile</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <div class="mb-3">
					<label for="name" class="form-label">Ganti Foto Profil</label>
					<input type="file" class="form-control" id="picture">
				  </div>
				  <div class="mb-3">
					<label for="name" class="form-label">Ganti Username</label>
					<input type="text" class="form-control" id="username_update" placeholder="Nama anda">
				  </div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  <button type="button" class="btn btn-primary">Save</button>
				</div>
			  </div>
			</div>
		  </div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="/static/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>