<!DOCTYPE html>
<html>
<head>
    <title>Tampilan Home</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/script.js"></script>
</head>
<body>
    <div class="login-container">
        <a href="#" class="login-link" onclick="toggleLogin()">Login</a>
        <div class="container">
            <h1>Selamat Datang di Halaman Home!</h1>
            <!-- Isi dengan elemen HTML lainnya sesuai kebutuhan -->
        </div>
    </div>

    <div class="login-popup" id="loginPopup">
        <div class="login-content">
            <h2>Halaman Login</h2>
            <form>
                <!-- Form login -->
            </form>
        </div>
    </div>
</body>
</html>
