<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- bootrap css -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/style.css">
	<title>AdminSite</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> Klinik jaya</a>
		<ul class="side-menu">
			<li><a href="/dashboard"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li>
				<a href="#"><i class='bx bxs-user icon' ></i> Pasien <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="/dashboard/data_antrian">Antrian</a></li>
					<li><a href="/dashboard/data_pasien">Data Pasien</a></li>
					<li><a href="/dashboard/pasien/riwayat">Riwayat Pasien</a></li>
				</ul>
			</li>
			<li><a href="/dashboard/data_dokter"><i class='bx bxs-user icon' ></i> Dokter</a></li>
			<li><a href="/dashboard/rekam_medis" class="active"><i class='bx bxs-video icon' ></i> Rekam Medis</a></li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<h3> Hello Admin</h3>
				</div>
			</form>
			
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='bx bxs-user-circle icon' ></i>Edit Profile</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Rekam Medis</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Rekam Medis</a></li>
			</ul>
			
			<div class="booking-card">
			
			  <div class="d-flex justify-content-center bg-light mt-5">
				<table class="table table-striped table-hover">
				  <thead class="thead-dark">
					<tr>
					  <th scope="col">No.</th>
					  <th scope="col">Nama Pasien</th>
					  <th scope="col">Tanggal Periksa</th>
					  <th scope="col">Keluhan</th>
					  <th scope="col">Diagnosa</th>
					  <th scope="col">Obat</th>
					  <th scope="col">Nama Dokter</th>
					  
					</tr>
				  </thead>
				  <tbody>
					{%  for data in rekam_medis %}
					<tr>
					  <td scope="row">{{ loop.index }}</td>
					  <td>{{ data['nama_pasien'] }}</td>
					  <td>{{ data['tanggal_periksa'] }}</td>
					  <td>{{ data['keluhan'] }}</td>
					  <td>{{ data['diagnosa'] }}</td>
					  <td>{{ data['obat'] }}</td>
					  <td>{{ data['nama_dokter'] }}</td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			
			<!-- class modal -->
		

		  
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="/static/script.js"></script>
	<script>
	 function rekam_medis(){
        if($('#tanggal').val() == ''){
            return alert('Pilih tanggal')
        }

        if($('#keluhan').val() == ''){
            return alert('Silahkan isi keluhan')
        }

        if($('#dokter').val() == ''){
            return alert('Pilih dokter')
        }

        $.ajax({
            method: "POST",
            url: '/book',
            data:{
                tanggal: $('#tanggal').val(),
                id_dokter: $('#dokter').val(),
                keluhan: $('#keluhan').val(),
            },
            success: function(data){
                if(data.result == 'success'){
                    alert('Data booking berhasil dikirim, silahkan tunggu konfirmasi!')
                    window.location.href = '/pasien/dashboard'
                }
            }
        })
    }
</script>
</body>
</html>